@use "./startGame";
@use "./game";
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color1: #7191a5;
  --color2: #304859;
  --white-color: white;
  --yellow-color: #ffb84a;
  --non-clicked: #bcced9;
  --non-clicked2: #dfe7ec;
  --body-bg: #152938;
  --grid-order: "repeat(4,1fr)";
  --filter: none;
  --small-menu: none;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  box-sizing: border-box;
  font-weight: bold !important;
}
body {
  > ::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.607);
    position: absolute;
    box-sizing: content-box;
    display: var(--filter);
    z-index: 20;
  }
}
#root {
  width: 100%;
  height: 100%;
  background-color: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}
