@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  gap: 50px;
}
@media (max-height: 600px) {
  .App {
    font-size: 12px;
  }
}
.App > h1 {
  font-size: 2.5em;
  color: var(--white-color);
  text-align: center;
  margin: 0;
}
@media (max-width: 621px) {
  .App > h1 {
    font-size: 2em;
  }
}
.App .starting {
  font-size: 18px;
  width: 35em;
  height: 30em;
  background-color: white;
  border-radius: 20px;
  padding: 2.2em;
}
@media (max-height: 800px) and (min-height: 400px) {
  .App .starting {
    font-size: 15px;
  }
}
@media (max-width: 621px) {
  .App .starting {
    width: 90vw;
    height: 85vw;
    font-size: 2.5vw;
  }
}
.App .starting h6 {
  font-size: 1.2em;
  color: var(--color1);
  margin-bottom: 1em;
}
.App .starting > a button {
  width: 100%;
  height: 1.8em;
  border-radius: 2em;
  background-color: var(--yellow-color);
  border: 0;
  font-size: 2em;
  color: var(--white-color);
  text-decoration: none;
  margin-top: 0.2em;
}
.App .starting > * {
  width: 100%;
}
.App .starting > * > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5em;
}
.App .starting > * > div button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  height: 2.2em;
  border: 0px;
  border-radius: 100em;
  font-size: 1.6em;
  color: var(--white-color);
  background-color: var(--non-clicked);
}
.App .starting > * > div button:hover {
  background-color: #6395b8;
}

.chose {
  background-color: #304859 !important;
}

.game {
  width: 80vw;
  gap: 6em;
  position: relative;
}
@media (max-width: 810px) {
  .game {
    font-size: 95%;
  }
}
@media (max-width: 810px) and (max-height: 600px) {
  .game {
    font-size: 70%;
  }
}
@media (min-height: 560px) and (max-height: 750px) {
  .game {
    font-size: 12px;
  }
}
.game .match-end,
.game .small-menu {
  border-radius: 15px;
  background-color: var(--white-color);
  z-index: 21;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.game .small-menu {
  padding: 2.5em;
  width: 100%;
  height: 21em;
  display: var(--small-menu);
}
.game .small-menu div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.game .small-menu div button {
  background-color: var(--non-clicked2);
  border: 0;
  border-radius: 100px;
  height: 2.8em;
  font-size: 1.4em;
  color: var(--color2);
}
@media (min-height: 590px) and (max-height: 700px) {
  .game .small-menu div button {
    font-size: 1.1em;
  }
}
.game .small-menu div a button {
  width: 100%;
  background-color: var(--non-clicked2) !important;
  border: 0;
  border-radius: 100px;
  height: 2.8em;
  font-size: 1.4em;
  color: var(--color2) !important;
}
.game .small-menu div a button p {
  margin: 0;
}
.game .small-menu button:first-of-type {
  background-color: var(--yellow-color);
  color: var(--white-color);
}
.game .match-end {
  width: 40em;
  padding: 3em;
  display: var(--end-game);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}
@media (max-width: 710px) and (min-height: 700px) {
  .game .match-end {
    width: 100%;
    padding: 1.5em;
    gap: 1.4uilit em;
  }
  .game .match-end > div:first-of-type h1 {
    font-size: 2em !important;
  }
  .game .match-end > div:nth-of-type(2) > div h1 {
    font-size: 1.8em !important;
  }
  .game .match-end > div:last-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .game .match-end > div:last-of-type button {
    padding: 1em !important;
  }
}
@media (max-width: 600px) and (max-height: 700px) {
  .game .match-end {
    width: 100%;
    padding: 1.5em;
    gap: 1em;
  }
  .game .match-end > div:first-of-type h1 {
    font-size: 2em !important;
  }
  .game .match-end > div:nth-of-type(2) > div h1 {
    font-size: 1.8em !important;
  }
  .game .match-end > div:last-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .game .match-end > div:last-of-type button {
    padding: 1em !important;
  }
}
.game .match-end > div:first-of-type {
  text-align: center;
}
.game .match-end > div:first-of-type h1 {
  font-size: 2.5em;
  color: var(--bg-body);
  margin: 0.3em;
}
.game .match-end > div:first-of-type p {
  color: var(--color1);
  font-size: 1.2em;
}
.game .match-end > div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.game .match-end > div:nth-of-type(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--non-clicked2);
  padding: 1em 2em;
  border-radius: 0.5em;
}
.game .match-end > div:nth-of-type(2) > div p,
.game .match-end > div:nth-of-type(2) > div h1 {
  margin: 0;
}
.game .match-end > div:nth-of-type(2) > div h1 {
  font-size: 2.1em;
}
.game .match-end > div:nth-of-type(2) > div p {
  font-size: 1.2em;
}
.game .match-end > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}
.game .match-end > div:last-of-type button {
  width: 100%;
  border: 0;
  background-color: var(--non-clicked2);
  padding: 0.6em;
  border-radius: 100em;
  font-size: 1.2em;
}
.game .match-end > div:last-of-type button:first-of-type {
  background-color: var(--yellow-color);
  color: var(--white-color);
}
.game .head {
  padding-top: 20px;
}
.game .head .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
.game .head .buttons .yellow-button {
  color: var(--white-color);
  background-color: var(--yellow-color);
}
.game .head .buttons a {
  text-decoration: none;
}
.game .head .buttons a > :last-of-type {
  background-color: var(--non-clicked);
  color: var(--color2);
}
.game .head .buttons button {
  padding: 0.8em 1.5em;
  border: 0;
  border-radius: 100px;
  font-size: 1em;
}
.game .head .buttons button p {
  font-size: 1.5em;
  margin: 0;
}
.game .playGround {
  width: 30em;
  height: 30em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3%;
}
.game .playGround .played {
  cursor: auto;
}
.game .playGround .played::before {
  width: 0%;
  height: 0%;
  z-index: 0;
}
.game .playGround .played::after {
  cursor: auto;
}
.game .playGround .match {
  cursor: auto;
  background-color: var(--yellow-color);
}
.game .playGround .match::before {
  width: 0%;
  height: 0%;
  z-index: 0;
}
.game .playGround .match::after {
  cursor: auto;
}
.game .playGround > div {
  background-color: var(--non-clicked);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: var(--grid-size);
  height: var(--grid-size);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5em;
  color: var(--white-color);
  position: relative;
  cursor: pointer;
}
.game .playGround > div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--color2);
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
  z-index: 10;
}
.game .playGround > div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
.game .players {
  gap: 1.4em;
  height: 9em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.game .players > div {
  gap: 1em;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.game .players > div .small-text {
  display: none;
}
.game .players > div div:first-of-type {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--non-clicked2);
  border-radius: 10px;
}
@media (max-width: 1090px) {
  .game .players > div div:first-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 12px;
  }
  .game .players > div div:first-of-type .big-text {
    font-size: 1.5em !important;
  }
  .game .players > div div:first-of-type h1 {
    font-size: 1.5em !important;
  }
}
.game .players > div div:first-of-type p {
  margin: 0;
  font-size: 1.5em;
  color: var(--color1);
  letter-spacing: 2.5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.game .players > div div:first-of-type h1 {
  margin: 0;
  font-size: 2.5em;
}
@media (max-width: 900px) {
  .game .players > div div:first-of-type {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding-left: 0;
  }
  .game .players > div div:first-of-type .big-text {
    display: none;
  }
  .game .players > div div:first-of-type .small-text {
    display: inline;
  }
}
.game .players > div div:last-of-type {
  height: 1.2em;
}
.game .players > div div:last-of-type p {
  width: 11em;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 2.5px;
  color: var(--bg-body);
  text-align: center;
  display: none;
}
@media (max-width: 900px) {
  .game .players p {
    display: none;
  }
}
.game .playing div:first-of-type {
  background-color: var(--yellow-color) !important;
  position: relative;
}
.game .playing div:first-of-type p,
.game .playing div:first-of-type h1 {
  color: var(--white-color) !important;
}
.game .playing div:first-of-type::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-bottom: 1.7em solid var(--yellow-color);
}
.game .playing div:last-of-type p {
  display: inline !important;
}
@media (max-width: 900px) {
  .game .playing div:last-of-type p {
    display: none !important;
  }
}

:root {
  --color1: #7191a5;
  --color2: #304859;
  --white-color: white;
  --yellow-color: #ffb84a;
  --non-clicked: #bcced9;
  --non-clicked2: #dfe7ec;
  --body-bg: #152938;
  --grid-size: calc(88% / 4);
  --filter: none;
  --small-menu: none;
  --end-game: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold !important;
}

body > ::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.607);
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: var(--filter);
  z-index: 20;
}

#root {
  width: 100%;
  height: 100%;
  background-color: var(--body-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  position: relative;
}